* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
    z-index: 2;
    padding-top: 20px;
    box-shadow: 0px 0px 10px 0px rgba(192, 193, 192, 1);
    padding-bottom: 25px;
}
footer {
    padding-top: 65px;
    padding-bottom: 46px;
}
ul {
    list-style-type: none;
}
a {
    color: #777777;
    font-size: 14;
    line-height: 24px;
    text-transform: uppercase; 
}
a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul li {
    margin-right: 45px;
}
i {
    color: #777777;
    margin-right: 54px;
}
.social {
    padding: 25px;
    margin-top: 45px;
    margin-bottom: 32px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.menu_additional {
 margin-top: 15px;
}
.border-menu {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.wrapper-footer span {
    font-weight: bold;
}
.bd-example {
    position: relative;
    z-index: 1;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 30px; /* Общее расстояние между колонками */
    font-size: .85em;
    -moz-column-gap: 30px; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 30px; /* Расстояние между колонками  для Safari, Chrome и iOS */
}

/* Элементы в виде плиток с содержанием */
.item {
    margin-bottom: 30px;
    display: inline-block;
    background: #fff;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
 
/* Стили картинок, видое и фреймов внутри адаптивных плиток */
img, iframe {
max-width: 100%;
height: auto;
display: block;
}
 
 
/* Медиа-запросы для различных размеров адаптивного макета */
@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
 
@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
 
@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
 
@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
 
@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}
