* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
    z-index: 2;
    padding-top: 20px;
    box-shadow: 0px 0px 10px 0px rgba(192, 193, 192, 1);
    padding-bottom: 25px;
}
footer {
    padding-top: 65px;
    padding-bottom: 46px;
}
ul {
    list-style-type: none;
}
a {
    color: #777777;
    font-size: 14;
    line-height: 24px;
    text-transform: uppercase; 
}
a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

ul li {
    margin-right: 45px;
}
i {
    color: #777777;
    margin-right: 54px;
}
li img {
    display: inline-block;
    margin-left: 18px;
}
input {
    width: 100%;
}
.line{
    width: 10px;
    margin-top: 13px;
    
}

.social {
    padding: 25px;
    margin-top: 45px;
    margin-bottom: 32px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.main_menu::before {
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: 10px;

}
.menu_additional {
 margin-top: 15px;
}
.border-menu {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.wrapper-footer span {
    font-weight: bold;
}
.bd-example {
    position: relative;
    z-index: 1;
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    opacity: 1;
    border-top: none;
    border-bottom: none;
    
  }
  .carousel-indicators .active {
    box-sizing: border-box;
    background: #fff;
    border: 4px solid #000;
  }
  .carousel-caption p{
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
  }
  .carousel-caption h5{
    font-size: 42px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px;
    background: #777;
}
  .carousel-caption {
    padding-left: 15%;
    padding-right: 15%;
    bottom: 50%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 44px;
    height: 44px;  
  }
  .carousel-control-next-icon:hover {
    background: #000;
    border: none;
  }
  .carousel-control-prev-icon:hover{
      background: #000;
      border: none;
  }
  .masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 30px; /* Общее расстояние между колонками */
    font-size: .85em;
    -moz-column-gap: 30px; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 30px; /* Расстояние между колонками  для Safari, Chrome и iOS */
}
/* Элементы в виде плиток с содержанием */
.item {
    margin-bottom: 30px;
    display: inline-block;
    background: #fff;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
 
/* Стили картинок, видое и фреймов внутри адаптивных плиток */
img, iframe {
max-width: 100%;
height: auto;
display: block;
}
#about {
    background-image: url(../img/about/heading.png);  
    background-size:  100% 100%;
    box-shadow: 0px 0px 10px 0px rgba(192, 193, 192, 1);
    position: relative;
    z-index: 2;

}
.heading,
.projects,
.heading-section {
    padding-top: 8%;
    padding-bottom: 8%;
}
.heading h5,
.projects h5,
.heading-section h5 {
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    background: #777;
    letter-spacing: 2px;
    padding-left: 33px;
    padding-right: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.heading p,
.projects p,
.heading-section p{
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 3px;
    margin-top: 40px;
    padding-left: 13px;
}
.ourstory {
    background: #fafafa;
    padding-top: 73px;
    padding-bottom: 80px;
}
.ourstory  h3{
    padding-top: 9px;
    color: #404040;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
}
.ourstory p {
    padding-top: 30px;
    color: #777777;
    font-size: 14px;
    line-height: 2rem;
}
.input_heading{
    padding-top: 15px;
    font-weight: bold;
}
.team {
    background: #fafafa;
    padding-top: 100px;
    padding-bottom: 75px;
}
.team_heading {
    justify-content: center;
}
.team_heading h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    color: #000;
    margin: 0 auto;
    padding-bottom: 41px;
}
.team_heading p {
    line-height: 2rem;
    color: #777777;
    font-size: 14px;
    padding-bottom: 70px;
}
.team_main h4 {
    font-size: 24px;
    text-transform: uppercase;
    color: #041608;
    padding-top: 33px;
    padding-left: 38px;
    padding-right: 43px;
    padding-bottom: 12px;
    background: #fff;
    margin-bottom: 0px;
}
.team_main h5 {
    font-size: 16px;
    color: #777777;
    padding-left: 38px;
    background: #fff;
    margin-bottom: 0px;
    padding-right: 43px;
    padding-bottom: 23px;
}
.team_main p {
    font-size: 14px;
    color: #777777;
    padding-left: 38px;
    padding-bottom: 33px;
    background: #fff;
    margin-bottom: 0px;
    padding-right: 43px;
}
input[type='range'] {
    height: 10px;
    -webkit-appearance: none;
    background-color: #ebebeb;
}


input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 2px;
    color: #a1a1a1;
    content: '';
}
input[type='range']::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
    -webkit-appearance: none;
    background: #fff;
    border: 4px solid #000;
    border-radius: 50%;
    margin-top: -6px;
}
input[type=range]::-moz-range-thumb {
    width: 13px;
    height: 13px;
    -webkit-appearance: none;
    background: #fff;
    border: 4px solid #000;
    border-radius: 50%;
    margin-top: -6px; 
}
input[type="range"]::-moz-range-progress {
    background-color: #a1a1a1; 
}
input[type="range"]::-moz-range-track {  
    background-color: #ebebeb;
}
input[type="range"]::-ms-fill-lower {
    background-color:#a1a1a1;  
}
input[type="range"]::-ms-fill-upper {  
    background-color: #ebebeb;
}
.projects {
    background: url(../img/projects/heading_project.png);
    background-size:  100% 100%;
}
.next_menu {
    display: flex;
}
.prev::before {
    font-family: FontAwesome;
    content: '\f104';
    display: inline-block;
    padding-right: 14px;
    vertical-align: middle;
}
.prev,
.next,
.show {
    font-size: 13px;
    text-transform: uppercase;
    color: #455746;
    padding-top: 26px;
    padding-bottom: 24px;
    border-left: 2px solid #e2e2e2;
    border-right:2px solid #e2e2e2;
    text-align: center;
}
.show {
    margin-left: auto;
}
.prev:hover {
    color: #071f08;
    font-weight: bold;
    cursor: pointer;
}
.prev::before:hover {
    color: #071f08;
    font-weight: bold;
    cursor: pointer;
}
.next:hover {
    color: #071f08;
    font-weight: bold;
    cursor: pointer;
}
.next::after:hover {
    color: #071f08;
    font-weight: bold;
    cursor: pointer;
}
.next::after {
    font-family: FontAwesome;
    content: '\f105';
    display: inline-block;
    padding-left: 14px;
    vertical-align: middle;
}
.show::before{
    font-family: FontAwesome;
    content: '\f03a';
    display: inline-block;
    padding-right: 14px;
    vertical-align: middle;
    color: #455746;
}
.show::before:hover {
    color: #071f08;
    font-weight: bold;
    cursor: pointer;
}
.show:hover {
    color: #071f08;
    font-weight: bold;
    cursor: pointer;
}
.design,
.works {
    padding-top: 72px;
    padding-bottom: 70px;
    background: #fafafa;
}
.works_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20%;
    text-align: center;
    line-height: 30px;
}
.works_text p {
    font-size: 13px;
    color: #777777;
}
.works_text h2 {
    font-size: 30px;
    letter-spacing: 6px;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.tyu h2{
    text-transform: uppercase;
    color: #000;
    letter-spacing: 3px;
    font-size: 30px;
}
.tyu h4 {
    text-transform: capitalize;
    font-size: 16px;
    color: #777777;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
}
.tyu .row {
    color: #777777;
    font-size: 15px;
    padding-bottom: 40px;
}
.heart::before {
    font-family: FontAwesome;
    content: '\f004';
    font-size: 16px;
    display: inline-block;
    margin-right: 8px;

}
.tyu p {
    color: #777777;
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 60px;
    border-bottom:1px solid #cccccc; 
}
.tyu h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #000000;
    padding-bottom: 20px;
}
.spanish {
    color: #c3c3c3;
    font-size: 16px;
    padding-bottom: 40px;
}
.share {
    background: #707070;
    color: #b8b8b8;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 15px;
}
.share::before {
    font-family: FontAwesome;
    content: '\f126';
    display: inline-block;
    padding-right: 7px;
    border-radius: 2px;
}
.snet {
    background: #e1e1e1;
    padding-top: 17px;
    margin-left: 19px;
    color: #707070;
    position: relative;
}
.snet::before {
    content: ''; 
    position: absolute;
    top: 16px;
    left: -18px;
    border: 10px solid transparent;
    border-right: 10px solid #e1e1e1;   
}
.fa {
    margin-right: 28px;
}
.img_mini {
    display: flex;
    justify-content: space-between;
}
/* Section BLOG */
.heading-section {
    background: url(../img/news/base.png);
    background-size: 100% 100%;
}

.main_part,
.sidebar {
    display: inline;
}
#main {
    padding-top: 71px;
    margin-bottom: 100px;
    background: #fafafa;
}

.block {
    background: #fff;
    margin-bottom: 26px;
    position: relative;
}
.block h4 {
    font-size: 14px;
}
.block p {
    font-size: 10px;
    counter-reset: #b2b2b2;
}
.block h3 {
    font-size: 18px;
    text-transform: uppercase;
    background: #ebebeb;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 13px;
    letter-spacing: 4px;
}
.block h3::after{
    content: ''; 
    position: absolute;
    top: 49px;
    left: 50%;
    border: 7px solid transparent;
    border-top: 7px solid #ebebeb;   
}
.search {
    margin-bottom: 26px;
    background: #fff;
    height: 60px;
    padding-left: 29px;
}
.block_item {
    padding-left: 25px;
    padding-right: 20px;
}
.tags {
    font-size: 11px;
}
.tags_item {
    padding-top: 9px;
    padding-bottom: 11px;
    border: 1px solid #ebebeb;
    margin: 6px;
}
.sidebar input {
    outline: none;
    border: none;
}
.sidebar .fa {
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 13px;
    color: #fff;
    background: #999999;
    padding: 10px;
    border-radius: 2px;
}
/* Страница POST */
.post {
    padding-top: 68px;
}
.post h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    letter-spacing: 3px;
}
.post_det {
    display: flex;
    justify-content: center;
    color: #777777;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 30px;
}
.post_img {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.post_text {
    font-size: 14px;
    color: #777777;
    line-height: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 63px;
}
.post_text h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #777777;
}
.post_bold p {
    font-weight:  bold;
    font-style: italic;
    font-size: 18px;
    color: #777777;
    padding-bottom: 33px;
    padding-top: 21px;
    padding-right: 42px;
    padding-left: 32px;
    margin-bottom: 11px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-left: 4px solid #c8c8c8;
}
.post_bold {
    display: flex;
    justify-content: center;
}
.input_title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#000;
    margin-bottom: 50px;
}
.input_item {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}
.input_item input {
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding-left: 13px;
    padding-top: 14px;
    padding-bottom: 14px;
    outline: none;
}
.contact_one  input{
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding-left: 13px;
    padding-top: 14px;
    padding-bottom: 14px;
    outline: none;
    margin-bottom: 32px;
}
.contact_two textarea {
    height: 148px;
    margin-bottom: 25px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 16px;
    outline: none;
}
textarea {
    width: 100%;
}
.message {
    display: flex;
    justify-content: center;
}
.post_btn p {
    color: #fff;
    background: #000;
    text-transform:  uppercase;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 17px;
}
.post_btn_contacts p {
    color: #fff;
    background: #000;
    text-transform:  uppercase;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 59px;
    padding-right: 52px;
}
.post_btn {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.post_btn:hover{
    cursor: pointer;
}
.post_btn_contacts {
    cursor: pointer;
}

.post_btn_contacts {
    display: flex;
    justify-content: flex-start;
}
.message textarea {
    height: 112px;
    margin-bottom: 25px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 16px;
    outline: none;
}
.post_main {
    background: #fafafa;
}
.contacts {
    padding-top: 80px;
    background: #fafafa;
}
.map {
    padding-top: 80px;
    padding-bottom: 69px;
    background: #fafafa;
}
.values {
    background: #fafafa;
    padding-bottom: 50px;
}
iframe {
    height: 450px;
}
.values_title {
    display: flex;
    justify-content: center;
}
.values_title  h1{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 35px;
}
.values_title p {
    font-size: 14px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 65px;
}
.values h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
    margin-top: 26px;
    margin-bottom: 42px;
}
.values p {
    font-size: 14px;
    color: #777777;
    line-height: 30px;
}
.contacts h3 {
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.contacts_info p {
    font-size: 16px;
    color: #777777;
}

.contacts_info span {
    font-weight: bold;
}
.contact_heading::after {
    content: "";
    display: block;
    background: #000;
    width: 60px;
    height: 1px;
    margin-bottom: 44px;
}
/* Медиа-запросы для различных размеров адаптивного макета */
@media only screen and (min-width: 320px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
  
}
 
@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
   
}
 
@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
   
}
 
@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    .masonry_2 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .masonry_3 {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    .item_3 {
    margin-bottom: 5px;
    display: inline-block;
    background: #fff;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
    }
   
}
 
@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
   
}
